
{% for item in rows %}                                                                                                                                                                         
    <p style="display: none;" id="board">{{ item }}</p>
    <style>

        html {
            background-color: grey;
        }

        table{
            border: 5px solid rgb(150, 107, 107)
        }

        th, td {
            border: 5px solid black;
            width: 60px;
            height: 72px;
        }
    </style>

    <script>
        function clickEvent(id) {
            block = document.getElementById(id);
            if (block.bgColor == 'red') {
                // selected olmaktan kaldir
                window.location.href = window.location.href.split('5000')[0] + "5000/cancelSelectedCoordinate?player=" + connectedPlayer + "&selectedCoordinate=" + id + "&color=" + connectedColor;
            }
            else if (block.bgColor == 'green') {
                // move to coordinate ver zaten map objesinde selected coordinate var
                window.location.href = window.location.href.split('5000')[0] + "5000/gameplay?player=" + connectedPlayer + "&moveToCoordinate=" + id + "&color=" + connectedColor;
            }
            else {
                window.location.href = window.location.href.split('5000')[0] + "5000/checkMoveableArea?player=" + connectedPlayer + "&selectedCoordinate=" + id + "&color=" + connectedColor;
            }

        }

        function createBoard() {
            if (document.getElementById('tableBoard') == null) {
                table = document.createElement('table')
                table.setAttribute('id', 'tableBoard')
                tableBody = document.createElement('tbody')

                chars = ['A','B','C','D','E','F','G','H']
                nums = ['8', '7', '6', '5', '4', '3', '2', '1']
                
                if (connectedColor == 'White') {
                    var i = 0;
                    var iBreakPoint = 8;
                }
                else if (connectedColor == 'Black') {
                    var i = 7;
                    var iBreakPoint = -1;
                }

                for (i; i != iBreakPoint;) {
                    tr = document.createElement('tr')
                    if (connectedColor == 'White') {
                        var j = 0;
                        var jBreakPoint = 8;
                    }
                    else if (connectedColor == 'Black') {
                        var j = 7;
                        var jBreakPoint = -1;
                    }
                    for (j; j != jBreakPoint;) {
                        td = document.createElement('td')
                        td.setAttribute('id', chars[j] + nums[i])
                        td.setAttribute('onclick', 'clickEvent(this.id)')
                        tr.appendChild(td)
                        console.log(chars[j] + nums[i])
                        if (connectedColor == 'White') {
                            j++;
                        }
                        else if (connectedColor == 'Black') {
                            j--;
                        }
                    }
                    tableBody.appendChild(tr)
                    if (connectedColor == 'White') {
                        i++;
                    }
                    else if (connectedColor == 'Black') {
                        i--;
                    }
                }
                table.appendChild(tableBody)
                document.body.appendChild(table)
            }
        }
        
        function init() {
            moveableCoordinates = JSON.parse(board).board.moveableCoordinates
            selectedCoordinate = JSON.parse(board).board.selectedCoordinate
            map = JSON.parse(board).board.map
            mappedBoard = new Map(Object.entries(map))
            for (const cell of mappedBoard) {
                
                if (cell[1].piece == "Empty" && document.getElementById(cell[0]).childNodes.length != 0) {
                    document.getElementById(cell[0]).removeChild(document.getElementById(cell[0]).childNodes[0])
                }
                else if (cell[1].piece != "Empty") {
                    if (document.getElementById(cell[0]).childNodes.length != 0) {
                        document.getElementById(cell[0]).childNodes[0].src = 'https://raw.githubusercontent.com/fquer/SpringChessFrontEnd/main/images/' + cell[1].colour + cell[1].piece + ".png"
                    }
                    else {
                        img = document.createElement('img')
                        img.setAttribute('src', 'https://raw.githubusercontent.com/fquer/SpringChessFrontEnd/main/images/' + cell[1].colour + cell[1].piece + ".png")
                        document.getElementById(cell[0]).appendChild(img)
                    }
                }
                document.getElementById(cell[0]).bgColor = '';
            }
            for (var i = 0; i <= moveableCoordinates.length - 1; i++) {
                document.getElementById(moveableCoordinates[i]).bgColor = 'green';
            }
            if (selectedCoordinate != null) {
                document.getElementById(selectedCoordinate).bgColor = 'red';
            }

            winner = JSON.parse(board).board.winner
            if (winner != 'Empty') {
                winnerLabel = document.createElement('h1')
                winnerLabel.setAttribute('id', 'winner')
                winnerLabel.innerText = 'Winner is ' + winner + '!'
                document.body.appendChild(winnerLabel)
            }
            else {
                if (document.getElementById('checkStatus') == null) {
                    checkStatusLabel = document.createElement('h1')
                    checkStatusLabel.setAttribute('id', 'checkStatus')
                    document.body.appendChild(checkStatusLabel)
                }
                else {
                    checkStatusLabel = document.getElementById('checkStatus')
                }
                checkStatus = JSON.parse(board).board.checkStatus
                if (checkStatus) {
                    checkStatusLabel.innerText = 'Check!'
                }
                else {
                    checkStatusLabel.innerText = ''
                }
            }
        }
        
        var connectedPlayer = '{{ player }}';
        var connectedColor = '{{ color }}';
        console.log(connectedPlayer);
        console.log(connectedColor);

        var board = "{{ item }}";
        board = board.replaceAll('&#34;','"')
        player1 = JSON.parse(board).player1
        player2 = JSON.parse(board).player2
        
        if (player1 == null || player2 == null) {
            if (document.getElementById('waitPlayer') == null) {
                waitPlayer = document.createElement('h1')
                waitPlayer.setAttribute('id', 'waitPlayer')
                waitPlayer.innerText = 'Waiting for player...'
                document.body.appendChild(waitPlayer)
            }
            else {
                waitPlayer = document.getElementById('waitPlayer')
                waitPlayer.innerText = 'Waiting for player...'
            }
        }
        else {
            waitPlayer = document.getElementById('waitPlayer')
            if (waitPlayer != null) {
                waitPlayer.remove()
            }
            createBoard();
            init();
        }

    </script>
{% endfor %}