<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

</head>
<body>
    

    {% if gameStatus == '0' or gameStatus == '1' %}
        <p> Play as </p>
        <input type="checkbox" id="player1" name="White" value="player1" onclick="check(this.id)">
        <label for="player1"> White </label><br>
        <input type="checkbox" id="player2" name="Black" value="player2" onclick="check(this.id)">
        <label for="player2"> Black </label><br><br>

        <label for="playerName"> Player Name: </label>
        <input type="text" id="playerName">
        
        <br><br>
    {% endif %}

    {% if gameStatus == '0' %}
        <button type="button" onclick="startGame()">Start Game!</button>
    {% elif gameStatus == '1' %}
        <button type="button" onclick="connectToGame()">Connect To Game!</button>
    {% else %}
        <p> Connect as </p>
        <button type="button" onclick="joinGame(this.id)" id="player1">{{ player1 }}</button>
        <button type="button" onclick="joinGame(this.id)" id="player2">{{ player2 }}</button>
    {% endif %}


    <script>
        function check(id) {
            var p = document.getElementById(id);

            if (p.checked && id == 'player1') {
                document.getElementById('player2').disabled = true;
            }
            else if (!p.checked && id == 'player1') {
                document.getElementById('player2').disabled = false;
            }
            else if (p.checked && id == 'player2') {
                document.getElementById('player1').disabled = true;
            }
            else if (!p.checked && id == 'player2') {
                document.getElementById('player1').disabled = false;
            }
        }
        
        function startGame() {
            if (document.getElementById('player1').checked) {
                window.location.href = window.location.href.split('5000')[0] + "5000/startGame?player=" + document.getElementById('playerName').value + "&color=" + document.getElementById('player1').name;
            }
            else if (document.getElementById('player2').checked) {
                window.location.href = window.location.href.split('5000')[0] + "5000/startGame?player=" + document.getElementById('playerName').value + "&color=" + document.getElementById('player2').name;
            }
        }

        function connectToGame() {
            if (document.getElementById('player1').checked) {
                window.location.href = window.location.href.split('5000')[0] + "5000/connectToGame?player=" + document.getElementById('playerName').value + "&color=" + document.getElementById('player1').name;
            }
            else if (document.getElementById('player2').checked) {
                window.location.href = window.location.href.split('5000')[0] + "5000/connectToGame?player=" + document.getElementById('playerName').value + "&color=" + document.getElementById('player2').name;
            }
        }

        function joinGame(id) {
            if (id == 'player1') {
                window.location.href = window.location.href.split('5000')[0] + "5000/stream?player=" + document.getElementById('player1').innerText + "&color=White" ;
            }
            else if (id == 'player2') {
                window.location.href = window.location.href.split('5000')[0] + "5000/stream?player=" + document.getElementById('player2').innerText + "&color=Black" ;
            }
        }
    </script>

</body>
</html>